*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* FONT-FASIA */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Bold.woff2') format('woff2'),
      url('/fonts/Heebo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Regular.woff2') format('woff2'),
      url('/fonts/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Medium.woff2') format('woff2'),
      url('/fonts/Heebo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Black.woff2') format('woff2'),
      url('/fonts/Heebo-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



.container{
  font-family: 'heebo', 'Arial', sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-decoration: none;
  background-color: #FF6464;
  border-radius: 2px;
  color: #fff;
  padding: 9px 21px 17px 20px;

}


/* SITE-HEADER */
.site-header {
  margin-left: 856px;
  margin-top: 27px;
  background-color: #fff;
}

.site-header-list {
  list-style: none;
  display: flex;
}

.site-header-item:not(:last-child) {
  margin-right: 33px;
}

.site-header-link {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}


/* HERO */
.hero {
  margin: 0;
  padding: 0;
  margin-top: 146px;
  display: flex;
}

.hero-button{
  margin-top: 38px;
}

.hero-info{
  margin-right: 110px;
}

.hero-container{
  margin-left: 0;
  padding-right: 0;
  align-items: center;
  /* text-align: center; */
  display: flex;
}

.hero-title {
  color: #21243D;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
}

.hero-text {
  color: #21243D;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 497px;
  margin-top: 20px;
}

.hero-img {
  margin-left: 110px;
}
